{% load qr_code %}
{% load static %}
<html>
<head>
    <title>Queue</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="basic">
        <div class=" title">
            <div class="title_table">
                <h1>Queue "{{ name }}"</h1>
                <table>
                    {% for user in users %}
                        {% if forloop.first %}
                            <tr>
                                <td>№</td>
                                <td>Имя</td>
                                <td>Видимость</td>
                                <td>Действия</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.visible }}</td>
                                <td>
                                    <a class="delete" href="{% url 'hide_user' 'show' user.id %}">Показать</a>
                                    <a class="delete" href="{% url 'hide_user' 'hide' user.id %}">Скрыть</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>