{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/all_page.css' %}">
    <title>Join The Queue</title>
</head>
<body>
<div class="basic">
    <h1>Queue</h1>
    <h4>{{ error }}</h4>
    <form action="/connection/" method="post">
        {% csrf_token %}
        <label for="name">Queue name: </label>
        <input id="name" type="text" name="name">
        <input type="submit" value="Вступить очередь">
    </form>
</div>
</body>
</html>