{% load static %}
<html>
<head>
    <title>Create Queue</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/all_page.css' %}">
</head>
<body>
    <div class="basic">
        <h1>Create Queue {{ name }}</h1>
        <form method = "POST">
            {% csrf_token %}
            {{ form }}
            <input type = "submit" value = "Создать очередь">
        </form>
        {{ error }}
    </div>
</body>
</html>