{% load qr_code %}
{% load static %}
<html>
<head>
    <title>Queue</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="basic">
        <div class="content">
            <div>
                {% qr_from_text host_url size="m" image_format="png" error_correction="L" %}
            </div>
        </div>
        <div class=" title">
            <div class="title_table">
                <h1>Queue "{{ name }}"</h1>
                <table>
                    {% for user in users %}
                        {% if forloop.first %}
                            <tr>
                                <td>№</td>
                                <td>Имя</td>
                            </tr>
                        {% else %}
                            {% if user.visible != "Hidden" %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.name }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </table>
                <a href="{% url 'admin_panel' %}" target="_blank" class="delete">Управление очередью</a>
                <a href="{% url 'delete_queue' %}" class="delete">Удалить очередь</a>
            </div>
        </div>
    </div>
</body>
</html>