{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/all_page.css' %}">
    <title>Join The Queue</title>
</head>
<body>
<div class="basic">
    <h1>Queue "{{ name }}"</h1>
    {% if error %}
        {{ error }}
    {% else %}
        <form action="/join-the-queue/{{ name }}/" method="post">
            {% csrf_token %}
            <label for="your_name">Your name: </label>
            <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
            <input type="submit" value="Вступить очередь">
        </form>
    {% endif %}
</div>
</body>
</html>